<h2>Add your Comment</h2>
<form>
    <div class="form-group">
        <label for="user name">User Name</label>
        <input type="text" class="form-control" id="userInput">
    </div>
    <div class="form-group">
        <label for="title">Comment Title</label>
        <text type="text" class="form-control" id="commentTitle">
    </div>
    <div class="form-group">
        <label for="body">Example textarea</label>
        <textarea class="form-control" id="commentBody" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>